<a class=" text-decoration-none text-gray-600" [routerLink]="['/requests/list']">
  <i class="fa fa-chevron-left"></i>
  <span class="font-lg ml-2" [translate]="'Requests.Homepage'"></span>
</a>

<h2 class="pb-4 pt-2" [translate]="'ThesisRequestActions.ThesisRequest'"></h2>
<div class="card" *ngIf="thesisRequestAction">
  <div class="card-body">
    <div>
      {{'ThesisRequestActions.AlreadyRequested' | translate}} {{this.thesisRequestAction.startTime | date: 'dd/MM/yyyy'}} {{'ThesisRequestActions.AndItTs' | translate}}
      {{'Requests.ActionStatusTypes.' + this.thesisRequestAction?.actionStatus?.alternateName | translate}}
    </div>
  </div>
</div>
